@import "../../App.scss";
.navbar{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    height: 60px;
    position: relative;
    z-index: 999;
    transition: $transition;
    p {
        font-size: 30px;
        font-weight: bolder;
    }

    .navbar-brand-text {
        margin-left: 50px;
    }
    .navbar-search-btn{
        margin-right: 12px;
    }
}

.scrolled{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header{
    background: linear-gradient(to right, rgba(206, 141, 12, 0.368), rgb(207, 137, 7));

    .header-content{
        height: 400px;
    }
    .header-title{
        margin-top: 2.4rem;
    }
}

.search-form{
    .form-control-input{
        box-shadow: 0 4px 10px rgb(0 0 0 / 12%), 0 0 1px rgb(0 0 0 / 5%) inset;
        min-width: 400px;
        font-size: 16px;
        font-weight: 800;
        height: 55px;
        padding: 0px 3.2rem;
        border-radius: 5px;
        margin-right: 1.2rem;
    }
    .form-submit-btn{
        width: 100px;
        height: 55px;
        background-color: orangered;
        border-radius: 5px;
        position: relative;
        font-weight: 600;
    }

    .form-submit-btn:hover{
        background-color: rgb(207, 58, 4);
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
    }
}

.logo {
    height: 50px;
}